// Build files and other trash
.vs
obj
bin
premake

// Solution files
SupercellSWF.sln

// Sc compression
SupercellCompression/SupercellCompression.vcxproj
SupercellCompression/SupercellCompression.vcxproj.user

SupercellCompression/lzham/LZHAM.vcxproj
SupercellCompression/lzham/LZHAM.vcxproj.filters
SupercellCompression/lzma/LZMA.vcxproj
SupercellCompression/lzma/LZMA.vcxproj.user
SupercellCompression/zstd/ZSTD.vcxproj
SupercellCompression/zstd/ZSTD.vcxproj.filters
// CLI
SupercellCompressionCli/SupercellCompressionCli.vcxproj
SupercellCompressionCli/SupercellCompressionCli.vcxproj.user

// SupercellSWF
SupercellSWF/SupercellSWF.vcxproj
SupercellSWF/SupercellSWF.vcxproj.filters
SupercellSWF/SupercellSWF.vcxproj.user
SupercellSWF/old
// CLI
SupercellSWF_Test/SupercellSWF_Test.vcxproj
SupercellSWF_Test/SupercellSWF_Test.vcxproj.user