// Git Ignore file

// Generator files
premake/bin

// Visual Studio directories
.vs/

// Visual Studio files
*.sln
*.vcxproj*

// Output files directories
build/

// GMake files
*Makefile


// Cancelled
SupercellEditor/
external/GLFW/
external/GLAD/
external/imGui/
SupercellFlash/src/SupercellSWF/